{
    "RESOURCE_PREFIX": "RESOURCE_PREFIX_PLACEHOLDER",
    "DT_BASEURL": "DT_BASEURL_PLACEHOLDER",
    "DT_ENVIRONMENT_ID": "DT_ENVIRONMENT_ID_PLACEHOLDER",
    "DT_PAAS_TOKEN": "DT_PAAS_TOKEN_PLACEHOLDER",
    "DT_API_TOKEN": "DT_API_TOKEN_PLACEHOLDER",
    "AWS_PROFILE": "default",
    "AWS_REGION": "us-west-2"
}