{
    "DT_BASEURL": "DT_BASEURL_PLACEHOLDER",
    "DT_API_TOKEN": "DT_API_TOKEN_PLACEHOLDER",
    "HOSTNAME_MONOLITH": "HOSTNAME_MONOLITH_PLACEHOLDER",
    "HOSTNAME_SERVICES": "HOSTNAME_SERVICES_PLACEHOLDER",
    "CLUSTER_NAME": "dynatrace-workshop-cluster"
}